{% extends "accounts/base_auth.html" %}
{% load i18n core_tags static %}

{% block extra_meta %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}

<!-- Small modal -->
<div class="modal" style="display: block;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-body"><i class="fa fa-question-circle"></i> Please confirm your email address to complete the registration, check your mail box</div>
        <div class="modal-footer"><a class="btn btn-warning btn-block" href="/">OK</a></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}