{% extends "accounts/base_profile.html" %}
{% load i18n core_tags static %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block extra_css %}
    <style type="text/css">
        .nav-pills .nav-link {
            color: #fff;
            background-color: #007bff;
    </style>
{% endblock %}

{% block profile_content %}
<h1 class="mb-4">{% trans "Change password" %}</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    {% include "forms/form_fields.html" %}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
    </div>
</form>

{% endblock %}
