    <div class="subscribe-footer">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <form method="POST" class="container w-100">
                <input type="hidden" name="csrfmiddlewaretoken" value="EgjQ8dg7uaB24274i1pdEP9qjbtRyHj8RnBr0l99bPwn9gh2XNFtgdcNfahvMaXG">
                <label for="id_notification_subscription_email" class="subscribe-text d-flex justify-content-center text-center">
                    We are in beta. Want to stay updated about the launch? Subscribe!
                </label>
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 mb-2">
                        <input name="email" type="email" class="email subscribe-input mr-3" id="id_notification_subscription_email" aria-describedby="emailHelp" placeholder="Type your email here">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 mb-2">
                        <button type="button" class="subscribe-button w-100" onclick="subscribe()">Subscribe</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 d-flex flex-column justify-content-center w-100 mb-2">
                        <span class="text-center">MySet © 2020</span>
                    </div>
                </div>
            </form>
        </div>

    </div>